<h2 id="my-mission-title">Моя місія</h2>
<div id="mission-items-container">
  <div class="mission-item-container">
    <div class="icon-wrapper">
      <mat-icon class="activism-icon material-symbols-outlined">volunteer_activism</mat-icon>
    </div>
    <h4>Допомагати людям</h4>
    <p>Допомагати людям знаходити внутрішню рівновагу та покращувати якість життя через глибоке розуміння себе.</p>
  </div>
  <div class="mission-item-container">
    <div class="icon-wrapper">
      <mat-icon class="activism-icon material-symbols-outlined">dictionary</mat-icon>
    </div>
    <h4>Донести знання</h4>
    <p>Я поєдную науковий підхід із щирим інтересом до людської природи, аби зробити психотерапію доступною, ефективною та результативною.</p>
  </div>
  <div class="mission-item-container">
    <div class="icon-wrapper">
      <mat-icon class="activism-icon material-symbols-outlined">cognition</mat-icon>
    </div>
    <h4>Ментальне здоров’я</h4>
    <p>Це не просто професійний вибір, а моя особиста місія. Я знайшла у цьому свій потенціал і постійно його розвиваю, щоб надавати найкращу підтримку тим, хто цього потребує.</p>
  </div>
</div>
