<main class="welcome-container flex flex-col items-center text-center px-10 py-10">
  <div>
    <h4 class="section-title text-lg text-[#C97B63] italic">Відчуй спокій та впевненість у собі!</h4>
    <h1 class="section-invitation text-4xl font-bold text-gray-800 mt-3">
      Почни свій шлях до <span class="italic">гармонії</span> вже сьогодні
    </h1>
    <button class="call-to-action-button">Запланувати зустріч <mat-icon class="arrow-right">arrow_right_alt</mat-icon></button>
    <p class="text-gray-700 text-lg text-left w-1/2">
      Софія — психолог, яка допомагає подолати тривогу та панічні розлади, надаючи практичні інструменти та підтримку для глибоких і стійких змін у вашому житті.
    </p>
  </div>
  <img src="main_image.png" alt="Софія">
</main>
