<div id="how-it-works-container">
  <!-- Heading -->
  <h1 id="how-it-works-title">
    Терапія—це процес, у якому ви не самі.
  </h1>
  <h2 id="help-road">
    Я допоможу вам пройти цей шлях з розумінням та підтримкою.
  </h2>

  <!-- How it works -->
  <h2 id="how-it-works-question">Як це працює?</h2>

  <div class="mt-6 flex flex-col md:flex-row items-center gap-6">
    <!-- Image with Border -->
    <div class="relative">
      <img src="how_it_works_image.png"
           alt="Терапія">
    </div>

    <!-- Steps -->
    <div class="flex-1 space-y-4">
      <!-- Step -->
      <div class="describing-container flex gap-3">
        <span class="describing-option">1</span>
        <p class="describing-option-text"><span>Звернення</span> – Ви ділитеся своїм запитом та описуєте, з чим звертаєтесь.</p>
      </div>

      <div class="describing-container flex gap-3">
        <span class="describing-option">2</span>
        <p class="describing-option-text"><span>Ознайомча консультація</span> – Разом аналізуємо ваші труднощі, роз’яснюємо процес терапії та оцінюємо, чи комфортно нам працювати разом. Визначаємо цілі терапії.</p>
      </div>

      <div class="describing-container flex gap-3">
        <span class="describing-option">3</span>
        <p class="describing-option-text"><span>Розробка плану роботи</span> – Я самостійно створюю індивідуальний план терапії, враховуючи ваші потреби та запит.</p>
      </div>

      <div class="describing-container flex gap-3">
        <span class="describing-option">4</span>
        <p class="describing-option-text"><span>Активна терапевтична робота</span> – Проводимо регулярні сесії, ви отримуєте практичні завдання для закріплення змін у повсякденному житті.</p>
      </div>

      <div class="describing-container flex gap-3">
        <span class="describing-option">5</span>
        <p class="describing-option-text"><span>Оцінка прогресу</span> – Періодично аналізуємо ваші результати та коригуємо підхід за потреби.</p>
      </div>

      <div class="describing-container flex gap-3">
        <span class="describing-option">6</span>
        <p class="describing-option-text"><span>Завершення терапії</span> – Обговорюємо, як самостійно підтримувати досягнуті результати у майбутньому.</p>
      </div>
      <div class="describing-container flex gap-3">
        <span class="describing-option">7</span>
        <p class="describing-option-text"><span>Підтримувальні сесії</span> – За необхідності можна проходити додаткові зустрічі для збереження балансу та стабільності.</p>
      </div>
    </div>
  </div>
</div>
